h1{
    text-align: center;
}
.box{
    display: flex;
}
.conseiller {
    flex: 1;
}
.client{
    flex: 1;
}
.admnistrateur{
    flex: 1;
}
.button{
    margin-top: 10%;
    margin-left: 45%;
}
form{
    margin-left: 9%;
    margin-right: 9%;
}