h1{
    text-align: center;
    color:black;
    letter-spacing: 11px;
    margin-top: 10px;
}

.formulaire{
    text-align: center;
    margin-top: 80px;
    border: 0.5px solid black;
    
    margin-left: 370px;
    margin-right: 370px;
    border-radius: 30px;
    /*background-color:white;*/
    margin-bottom: 50px;
}

body{
    background-image: url('C:/Users/chebi/Desktop/Projet/fond_blanc-c.jpg');
    width: 100%;
    /*background-image: url('C:/wamp64/www/INSCRIPTION/fondran.jpg');*/
    /*background-size: cover;*/
}


input{
    margin-left: 5px;
    padding-left: 1Opx;
}

.Nom, label, strong{
    margin-left: 20px;
}

.Mail, label,strong{
    margin-left: 5px;
}
.Mail{
    margin-left: 18px;
    margin-top: 15px;
}
.Confirmation_Mail{
    margin-right: 76px;
    margin-top: 15px;
}
.Mdp{
    margin-right: 36px;
    margin-top: 15px;
}
.Cmdp{
    margin-right: 129px;
    margin-top: 15px;
}
.Prenom{
    margin-top: 10px;
}
.Nom{
    margin-top: 50px;
}
.Valider{
    margin-top: 40px;
}
img{
    margin-left: 1000px;
}
.tout{
    margin-top: -100px;
}